<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>상품 관리</h1>
    <div>
      <% if(!isUpdate || product == null || product == undefined) {%>
      <form action="/admin/product" method="post">
        <input id="name" type="text" name="name" placeholder="이름" />
        <input
          id="money"
          type="text"
          name="money"
          placeholder="단가"
          onchange="checkNumber()"
        />
        <input id="image" type="file" name="image" placeholder="이미지URL" />
        <input id="type" type="text" name="type" placeholder="상품 타입" />
        <button id="default_button" onclick="checkBlank()">등록</button>
      </form>
      <% } else { %>
      <form
        action="/admin/product/update/<%= product.id %>?_method=PUT"
        method="post"
      >
        <p>현 상품 이름 : <%= product.name %></p>
        <input id="name" type="text" name="name" placeholder="이름" />
        <p>현 상품 단가 : <%= product.money %></p>
        <input
          id="money"
          type="text"
          name="money"
          placeholder="단가"
          onchange="checkNumber()"
        />
        <p>현 상품 이미지</p>
        <img src="<%= product.image %>" width="100" height="100" />
        <br />
        <input id="image" type="text" name="image" placeholder="이미지URL" />
        <p>현 상품 타입 : <%= product.type %></p>
        <input id="type" type="text" name="type" placeholder="상품 타입" />
        <button id="default_button" onclick="checkBlank()">수정</button>
      </form>
      <% } %>
    </div>
  </body>

  <script>
    function checkNumber() {
      const moneyRules = "/^[0-9]+$/";
      const money = document.getElementById("money").value;

      if (!moneyRules.test(money)) {
        alert("숫자만 입력가능합니다");
      }
    }

    function checkBlank() {
      const name = document.getElementById("name").value;
      const money = document.getElementById("money").value;
      const image = document.getElementById("image").value;
      const type = document.getElementById("type").value;

      if (!name || !money || !image || !type) {
        alert("모든 칸을 채워주세요");
        window.location;
      }
    }
  </script>
</html>
