<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      h1 {
        margin-bottom: 0;
        text-align: center;
        border-bottom: 1px solid #c4c4c4;
        padding-bottom: 20px;
      }
      form {
        width: 100%;
      }
      .img {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
      }
      p {
        font-size: 1.2rem;
        font-weight: bold;
        margin: 0;
      }
      #image {
        width: 180px;
      }
      .default_button {
        width: 100px;
        padding: 10px;
      }
      input {
        width: 80%;
        padding: 10px;
      }
      #list {
        position: absolute;
        right: 0px;
        text-align: right;
      }
      #form {
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
      }
      a {
        text-decoration: underline;
        color: #333;
      }
    </style>
  </head>
  <body>
    <% if(!isUpdate || product == null || product == undefined) {%>
    <h1>상품 추가</h1>
    <form
      id="form"
      action="/admin/product"
      method="post"
      enctype="multipart/form-data"
    >
      <input id="name" type="text" name="name" placeholder="이름" />
      <input id="price" type="text" name="price" placeholder="단가" />
      <input id="image" type="file" name="file" />
      <input id="type" type="text" name="type" placeholder="상품 타입" />
      <button class="default_button" onclick="checkBlank()">등록</button>
    </form>
    <a id="list" class="default_button" onclick="window.location.href='/admin'">
      리스트 >
    </a>
    <% } else { %>
    <h1>상품 관리</h1>

    <form
      action="/admin/product/update/<%= product.id %>?_method=PUT"
      method="post"
      enctype="multipart/form-data"
    >
      <div class="img">
        <div class="img">
          <p>현 상품 이미지</p>
          <img src="<%= product.image %>" width="300" height="300" />
        </div>
        <input id="image" type="file" name="file" />
      </div>
      <div class="img">
        <p>현 상품 이름 : <%= product.name %></p>
        <input id="name" type="text" name="name" placeholder="이름" />
      </div>
      <div class="img">
        <p>현 상품 단가 : <%= product.price %></p>
        <input id="price" type="text" name="price" placeholder="단가" />
      </div>
      <div class="img">
        <p>현 상품 타입 : <%= product.type %></p>
        <input id="type" type="text" name="type" placeholder="상품 타입" />
        <button class="default_button" onclick="checkBlank()">수정</button>
      </div>
    </form>
    <a id="list" class="default_button" href="/admin"> 리스트 > </a>
    <% } %>
  </body>

  <script>
    function checkBlank() {
      const name = document.getElementById("name").value;
      const price = document.getElementById("price").value;
      const image = document.getElementById("image").value;
      const type = document.getElementById("type").value;

      if (!name || !price || !image || !type) {
        alert("모든 칸을 채워주세요");
      }
    }
  </script>
</html>
